    <!DOCTYPE html>
    <html>
    <head>
    	<meta charset=utf-8 />
    	<title></title>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/master.css" />
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    	<!--[if IE]>
    		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    	<![endif]-->
    </head>
    <body>
        <header>
            <nav class="site-nav sidebar">
                <h3 class="">Path</h3>
                <h6>by riyo</h6>
                <div>
                    <ul class="page__nav-list">
                        <a class="js-site-nav-link site-nav__link sidebar-item-is-active" href="#"><h2 class="site-nav__link__h">Vienna</h2></a>
                        <a class="js-site-nav-link site-nav__link" href="#"><h2 class="site-nav__link__h">Cambridge</h2></a>
                        <a class="js-site-nav-link site-nav__link" href="#"><h2 class="site-nav__link__h">Oxford</h2></a>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="main" id="main">
            <div class="page-outer page-outer--sf">
                <!-- BEGIN TITLE -->
                <h1 class="homepage__intro">{{itin.city}}</h1>
                <!-- END TITLE -->

                <!-- BEGIN SECTION -->
                <section class="section">
                    <h2 class="section__overline">
                        <span class="section__overline-text">Overview</span>
                    </h2>

                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <p class="section__title">Abstract</p>
                        <div class="section__text">
                            {{itin.abstract}}    
                        </div>
                    </div>
                    <!-- END ENTRY -->

                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <p class="section__title">Trip Length</p>
                        <div class="section__text">
                           {{itin.trip_length}}
                        </div>
                    </div>
                    <!-- END ENTRY -->

                </section>
                <!-- END SECTION -->


                <!-- BEGIN SECTION -->
                <section class="section">
                    <h2 class="section__overline">
                        <span class="section__overline-text">Travel</span>
                    </h2>

                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <div class="card-group">  
                        {% for entry in itin.travel %} 
                            <div class="card card--full">
                                <div class="card-inner">
                                    <div class="card__text-wrapper">
                                        <h3 class="card__h">{{entry.type}}</h3>
                                        <div class="card__text">   
                                            <h2>{{entry.departure}}</h2>
                                            <h6>to</h6>
                                            <h2>{{entry.arrival}}</h2>
                                            <br>
                                            <h6>{{entry.time_type}}</h6>
                                            <p>{{entry.time_time}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>      
                    </div>
                    <!-- END ENTRY -->
                </section>
                <!-- END SECTION -->

                <!-- BEGIN SECTION -->
                <section class="section">
                    <h2 class="section__overline">
                        <span class="section__overline-text">Accommodation</span>
                    </h2>

                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <div class="card-group">   
                            <div class="card card--full">
                                <div class="card-inner">
                                    <div class="card__text-wrapper">
                                        <h3 class="card__h">Sleep</h3>
                                        <div class="card__text">   
                                            <h2>Vienna Hostel</h2>
                                            <br>
                                            <h6>Location</h6>
                                            <p>Near the airport</p>
                                            <br>
                                            <h6>Check in at</h6>
                                            <p>23:00 Friday</p>
                                            <br>
                                            <h6>Check out by</h6>
                                            <p>23:00 Friday</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END ENTRY -->
                </section>
                <!-- END SECTION -->
                

                <!-- BEGIN SECTION -->
                <section class="section">
                    <h2 class="section__overline">
                        <span class="section__overline-text">Places of Interest</span>
                    </h2>

                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <p class="section__title">Historic Center of Vienna</p>
                        <div class="section__text">
                            <ul>
                                <li>Where parliament meets</li>
                            </ul>
                        </div>
                    </div>
                    <!-- END ENTRY -->
                    <!-- BEGIN ENTRY -->
                    <div class="section__text-mod ">
                        <p class="section__title">Schonbrunn Palace</p>
                        <div class="section__text">
                            <ul>
                                <li>Where parliament meets</li>
                            </ul>
                        </div>
                    </div>
                    <!-- END ENTRY -->

                </section>
                <!-- END SECTION -->
            </div>
        </main>
    </body>
    </html>